.cart-container {
  display:flex;
  flex-direction:column;
  font-size:12pt;
  font-weight:bold;
  max-height:80vh;
  overflow-y: auto;
  max-width: 350px;
  margin: -16px -32px -24px;
  padding: 16px 32px 24px;
}

.cart-item-count {
  font-size: 20pt;
  padding-bottom:20px;
}

.perfume-card {
  padding-bottom:12px;
  display:flex;
  flex-direction: row;
}

.aqaba-image {
  height:120px;
}

.cart-details {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:16pt;
}

.product-title {
  font-size:18pt;
}

.product-price {
  padding-top: 10px;
  font-size: 14pt;
}

.product-size-selected {
  padding-top:2px;
  font-size: 14pt;
}

.product-qty {
  padding-top:2px;
  padding-bottom:10px;
  font-size: 14pt;
}

.edit-and-checkout {
  display:flex;
  flex-direction:column;
}

.secondary-button {
  font-family: Amiri, serif;
  border: 2px solid white;
  font-size:16pt;
  font-weight: bold;
  white-space: nowrap;
  margin:8px;
  width:100%;
  height: 52px;
}




