.cart-container {
  display:flex;
  flex-direction:column;
  font-size:12pt;
  font-weight:bold;
  margin-left: 14pt;
}

.cart-item-count {
  font-size: 20pt;
  padding-bottom:20px;
}

.perfume-card {
  padding-bottom:12px;
  display:flex;
  flex-direction: row;
}

.aqaba-image {
  height:120px;
}

.cart-details {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:16pt;
}

.product-title {
  font-size:16pt;
}

.product-price {
  padding-top: 10px;
}

.product-size-selected {
  padding-top:2px;
}

.qty {
  padding-top:2px;
  padding-bottom:10px;
}

.edit-and-checkout {
  display:flex;
  flex-direction:row;
}



