.create-account-modal-container {
  background-color: rgb(251 249 244);
  font-weight: bold;
  width: 30rem;
  height: 40rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-family: "El Messiri", sans-serif;
  text-align: center;
}

.header-slogan-text {
  font-size: 12pt;
  text-align: center;
  padding-bottom: 10px;
}

.create-account-header {
  font-size: 12pt;
  text-align: center;
}

.modal-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aqaba-product-image {
  width: 126px;
}

.create-account-button {
  padding-top: 26px;
}

.mobile-create-account-button {
  display: none;
}

@media screen and (max-width: 600px) {
  /* For mobile phones: */
  .create-account-modal-container {
    max-height: 80vh;
    max-width: 240px;
    overflow-y: auto;
    margin: -16px -32px -24px;
    padding: 16px 32px 24px;
  }

  .modal-header {
    font-size: 16pt;
  }

  .mobile-create-account-button {
    display: block;
    font-family: "Amiri", "serif";
    border: 2px solid white;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    background-color: #dc9b56;
    width: 242px;
    height: 54px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
