.home {
  display:flex;
  flex-direction:row;
  height:80vh;
  position:relative;
}

.home-content {
  z-index:1;
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-grow:1;
  flex-basis:100vw;
  justify-content: center;
  padding-top:30%;
}

.perfume-link:hover {
  color:rgb(240, 96, 29);
}