.body-products-container {
  display:flex;
  flex-direction:column;
  min-height:760px;
  justify-content: center;
}

.links-container {
  font-size: 14pt;
  padding-top: 16px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.body-links {
  color: #A44200;
  font-size: 15pt;
  padding-left: 10px;
  font-weight: bold;
  cursor:pointer;
  padding-bottom: 15px;
}

.body-links:hover {
  color: #2B9EB3;
}

.card-container {
    padding-bottom:16px;
    flex-direction:row;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height:125ch;
    max-width:125ch;
    justify-content: space-between;
    align-self:center;
}

.body-card {
  padding-bottom:26px;
  text-align: center;
  margin-bottom:22px;
}