.checkout-container {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.shipping-container {
  display:flex;
  flex-direction:row;
  min-height:100vh;
}

.shipping-container {
  display:flex;
  flex-direction:column;
  background-color: rgb(235, 232, 227);
}

.checkout-header {
  font-size: 18pt;
  padding-bottom:22px;
}

.contact-details-container {
  display:flex;
  flex-direction:column;
  width: 300px;
}

.contact-header {
  font-size: 14pt;
  padding-bottom: 14pt;
  font-weight:bold;
  padding-left:100px;
}

.shipping-header {
  padding-bottom:20px;
  font-size:14pt;
  font-weight: bold;
}

.shipping-details {
  padding-top: 22px;
  display:flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.checkout-items-container {
  display:flex;
  flex-direction:column;
  background-color: rgb(235, 232, 227);
  width: 300px;
}

.checkout-buttons {
  display:flex;
  flex-direction:row;
}
