.checkout-container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.checkout-header {
  font-size: 18pt;
  padding-bottom:22px;
}

.shipping-header {
  text-align:center;
  padding-bottom: 22px;
}

.shipping-details {
  padding-top: 22px;
}