.perfume-details-container {
  display:flex;
  flex-direction:row;
  max-height:600px;
  font-size:14pt;
  font-weight:bold;
  padding-left:14pt;
  padding-top:50px;
  box-sizing: border-box;
  justify-content: center;
}

.perfume-card {
  padding-bottom: 12px;
  display:flex;
  flex-direction:column;
}

.product-selected-image {
  flex-grow:0;
}

.title {
  font-size: 22pt;
}

.perfume-details {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin-left:16pt;
  max-width:480px;
}

.product-desc{
  margin:8px;
  text-align:justify;
}
