.product-details-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  padding-top: 50px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding-bottom: 12px;
}

.card-title,
.price,
.qty {
  font-size: 16pt;
  margin-top: 12px;
}

.title {
  font-size: 26pt;
}

.qty {
  margin-bottom: 40px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16pt;
  max-width: 480px;
}

.product-desc {
  margin: 8px;
  text-align: center;
  font-size: 16pt;
}

.add-to-cart-button-container {
  margin-bottom: 40px;
}

.add-to-cart-button-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  /* For mobile phones and small portrait tablet: */
  .product-details-container {
    max-height: 410vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin: 0px 0px 20px 0px;
    align-items: center;
  }

  .product-card {
    width: 15em;
  }

  .card-title {
    font-size: 12pt;
  }

  .product-selected-image {
    width: 100%;
  }

  .product-desc {
    text-align: center;
    font-size: 14pt;
  }
}

@media screen and (min-width: 620px) and (max-width: 860px) {
  /* portrait tablets and iPad */
  .product-details-container {
    max-height: 410vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin: 0px 0px 20px 0px;
    align-items: center;
  }

  .product-card {
    width: 20em;
  }
}
