.product-details-container {
  display:flex;
  flex-direction:row;
  max-height:600px;
  font-size:16pt;
  font-weight:bold;
  padding-left:14pt;
  padding-top:50px;
  box-sizing: border-box;
  justify-content: center;
}

.product-card {
  padding-bottom: 12px;
  display:flex;
  flex-direction:column;
}

.card-title {
  font-size:16pt;
  margin-top: 12px;
}

.product-selected-image {
  flex-grow:0;
}

.title {
  font-size: 22pt;
}

.qty {
margin-bottom: 20px;
}

.product-details {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  margin-left:16pt;
  max-width:480px;
}

.product-desc {
  margin:8px;
  text-align:center;
}

.add-to-cart-button-container {
 margin-bottom: 20px;
}

.add-to-cart-button-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  /* For mobile phones and small portrait tablet: */
 .product-details-container {
   max-height: 410vh; 
   display:flex;
   flex-direction:column;
   font-size:14pt;
   align-items: center;
 }
 
 .product-details {
  justify-content: space-evenly;
  margin:10px 20px 0px 0px;
  align-items: center;
 }

 .product-card{
   width:160px;
   display: block;
 }

 .product-selected-image  {
   width:100%;
 }

 .product-desc{
  margin:0px;
  text-align:center;
 }

}

@media screen and (min-width: 620px) and (max-width: 860px) {
/* portrait tablets and iPad */
  .product-details-container {
    max-height: 410vh;
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .product-details {
    align-items: center;
   }

   .product-card{
    width:260px;
  }
}
