.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height:270px;
  align-items: center;
}

.carousel .slide {
  background-color:white;
}

.slide {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: white;
}

.carousel  {
  width:90%;
  justify-content: center;
  align-items: center;
}