.carousel-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.carousel-item {
  width: 160px;
  height: 340px;
  background-size: cover;
  background-position: center center;
}

.slider {
  align-items: center;
}

.carousel .slide {
  background-color: rgb(238, 224, 209);
}

.carousel .carousel-slider {
  border: 2px solid brown;
  border-radius: 5px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.carousel {
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(183, 132, 77);
  border-radius: 5px;
}
