.footer-container {
  background-color: rgba(238, 169, 177, 0.113);
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  width:100vw;
  height: 60px;
  padding-top:20px;
}

.connect-block {
}

.connect-icons {
  display:flex;
  flex-direction:row;

  
}