.header {
  z-index: 100;
  width:100vw;
  height: 72px;
  background-color: #FBF7F4;
}

.nav-item {
  color:#A44200;
  font-size:12pt;
  padding-left:8px;
  font-weight: bold;
}

.MuiIconButton-label {
  color:black;
}

.nav-container {
  display:flex;
  flex-direction:row;
}

a:hover {
  font-weight:bold;
  color: #2B9EB3;
}

.link-block, .icon-block {
  flex-grow:0;
  flex-basis:280px; 
  display:flex;
  flex-direction:row;
  align-items:flex-end;
}

.icon-block {
  justify-content: flex-end;
  margin-bottom:10px;
}

.hamburger {
  display:none;
}

.title-block {
  flex-grow: 1;
  text-align:center;
  font-size:24pt;
}

.home-title {
  text-decoration:none;
  color:black;
}

.home-title:hover {
  color:black;
}

.title-block .creator-title {
  font-size:12pt;
}

.searchbar-container {
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  padding-right:10px;
}

.account-icon {
  padding-right: 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header {
    z-index: 100;
    width:100vw;
    height: 60px;
    background-color: #FBF7F4;
  }

  .icon-block {
    flex-grow:none;
    display:flex;
    flex-basis: auto;
    flex-direction:row;
    align-items:flex-end;
  }
  
  .link-block {
    display:none;
  }

  .title-block {
    text-align:center;
    font-size:16pt;
  }

  .creator-title {
    display:none;
  }

  .hamburger {
    width:100px;
    display:block;
    color:black;
  }

  .MuiIconButton-root .MuiSvgIcon-root {
    font-size:20px;
  }
  
}



