.header {
  z-index: 100;
  width:100vw;
  height: 72px;
  background-color: #FBF7F4;
}

.nav-item {
  color:#A44200;
  font-size:12pt;
  padding-left:10px;
  font-weight: bold;
}

.MuiIconButton-label {
  color:black;
}

.nav-container {
  display:flex;
  flex-direction:row;
}

a:hover {
  font-weight:bold;
  color: #2B9EB3;
}

.link-block, .icon-block {
  flex-grow:0;
  flex-basis:280px; 
  display:flex;
  flex-direction:row;
  align-items:flex-end;
}

.icon-block {
  justify-content: flex-end;
}

.title-block {
  flex-grow: 1;
  text-align:center;
  font-size:24pt;
}

.title-block .creator-title {
  font-size:10pt;
}





