
.bg {
  position: absolute;
  top: 20;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  will-change: opacity;
  background-color: white;
}
